In [164]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [165]:
data = pd.read_csv("ODORDATASETCORRECT.csv")
data = data.rename(columns={'Unnamed: 0': "Target"})

In [166]:
data

            Target  MQ2  MQ3  MQ9  MQ135
0           ORANGE  218  740  604    434
1           ORANGE  188  700  604    430
2           ORANGE  183  692  604    433
3           ORANGE  203  679  608    432
4           ORANGE  168  638  610    438
...            ...  ...  ...  ...    ...
1177  SPOILED MILK  154  145  323    228
1178  SPOILED MILK  155  146  321    227
1179  SPOILED MILK  154  140  291    204
1180  SPOILED MILK  154  149  332    236
1181  SPOILED MILK  154  150  346    247

[1182 rows x 5 columns]

In [167]:
feature_cols = ['MQ2','MQ3','MQ9','MQ135']
x = data[feature_cols]
y = data.Target

In [168]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.3, random_state = 20)

x_test

      MQ2  MQ3  MQ9  MQ135
337   124  138  301    212
195   157  615  611    439
456   145  154  323    230
930   112   93  260    203
977   111  101  277    214
...   ...  ...  ...    ...
1136  154  131  265    190
781   110  164  320    229
666   114  141  355    264
189   155  577  607    437
559   144  157  354    255

[355 rows x 4 columns]

In [169]:
clf = DecisionTreeClassifier()
clf = clf.fit(x_train,y_train)
y_pred = clf.predict(x_test)

In [170]:
print("Accuracy",metrics.accuracy_score(y_test,y_pred))

y_pred,y_test

Accuracy 0.9943661971830986

(array(['APPLE', 'ORANGE', 'LEMON', 'MILK', 'MILK', 'LEMON', 'APPLE',
        'ORANGE', 'ORANGE', 'LEMON', 'APPLE', 'APPLE', 'APPLE', 'APPLE',
        'LEMON', 'LEMON', 'SPOILED MILK', 'SPOILED MILK', 'LEMON', 'APPLE',
        'SPOILED MILK', 'MILK', 'SPOILED MILK', 'ORANGE', 'MILK', 'LEMON',
        'NORMAL', 'MILK', 'LEMON', 'NORMAL', 'ORANGE', 'VINEGAR', 'ORANGE',
        'SPOILED MILK', 'ORANGE', 'SPOILED MILK', 'VINEGAR', 'VINEGAR',
        'APPLE', 'LEMON', 'SPOILED MILK', 'VINEGAR', 'MILK', 'ORANGE',
        'APPLE', 'SPOILED MILK', 'VINEGAR', 'NORMAL', 'VINEGAR', 'ORANGE',
        'NORMAL', 'VINEGAR', 'APPLE', 'SPOILED MILK', 'VINEGAR', 'VINEGAR',
        'MILK', 'MILK', 'LEMON', 'VINEGAR', 'ORANGE', 'MILK',
        'SPOILED MILK', 'ORANGE', 'VINEGAR', 'VINEGAR', 'LEMON',
        'SPOILED MILK', 'VINEGAR', 'LEMON', 'APPLE', 'LEMON', 'VINEGAR',
        'MILK', 'SPOILED MILK', 'VINEGAR', 'LEMON', 'MILK', 'NORMAL',
        'LEMON', 'APPLE', 'SPOILED MILK', 'SPOILED MILK', 'ORANGE',
        'SPOILED MILK', 'VINEGAR', 'VINEGAR', 'LEMON', 'APPLE', 'VINEGAR',
        'LEMON', 'MILK', 'MILK', 'APPLE', 'VINEGAR', 'LEMON', 'ORANGE',
        'LEMON', 'APPLE', 'MILK', 'VINEGAR', 'LEMON', 'ORANGE', 'VINEGAR',
        'ORANGE', 'VINEGAR', 'ORANGE', 'APPLE', 'LEMON', 'APPLE',
        'SPOILED MILK', 'MILK', 'MILK', 'ORANGE', 'APPLE', 'APPLE',
        'VINEGAR', 'SPOILED MILK', 'LEMON', 'LEMON', 'ORANGE', 'ORANGE',
        'VINEGAR', 'LEMON', 'NORMAL', 'VINEGAR', 'NORMAL', 'APPLE', 'MILK',
        'MILK', 'ORANGE', 'APPLE', 'VINEGAR', 'ORANGE', 'LEMON',
        'SPOILED MILK', 'LEMON', 'LEMON', 'NORMAL', 'LEMON', 'VINEGAR',
        'MILK', 'ORANGE', 'APPLE', 'VINEGAR', 'MILK', 'APPLE', 'ORANGE',
        'SPOILED MILK', 'APPLE', 'VINEGAR', 'ORANGE', 'SPOILED MILK',
        'ORANGE', 'SPOILED MILK', 'ORANGE', 'LEMON', 'SPOILED MILK',
        'SPOILED MILK', 'NORMAL', 'VINEGAR', 'VINEGAR', 'LEMON', 'LEMON',
        'SPOILED MILK', 'VINEGAR', 'ORANGE', 'VINEGAR', 'VINEGAR', 'MILK',
        'MILK', 'VINEGAR', 'VINEGAR', 'LEMON', 'LEMON', 'ORANGE',
        'SPOILED MILK', 'ORANGE', 'SPOILED MILK', 'LEMON', 'MILK',
        'SPOILED MILK', 'APPLE', 'VINEGAR', 'ORANGE', 'VINEGAR', 'MILK',
        'ORANGE', 'ORANGE', 'VINEGAR', 'LEMON', 'APPLE', 'ORANGE',
        'SPOILED MILK', 'VINEGAR', 'LEMON', 'VINEGAR', 'VINEGAR', 'ORANGE',
        'LEMON', 'APPLE', 'MILK', 'SPOILED MILK', 'VINEGAR', 'ORANGE',
        'ORANGE', 'SPOILED MILK', 'VINEGAR', 'MILK', 'NORMAL', 'MILK',
        'ORANGE', 'VINEGAR', 'MILK', 'NORMAL', 'APPLE', 'LEMON', 'VINEGAR',
        'VINEGAR', 'NORMAL', 'APPLE', 'ORANGE', 'VINEGAR', 'ORANGE',
        'SPOILED MILK', 'SPOILED MILK', 'SPOILED MILK', 'ORANGE', 'MILK',
        'LEMON', 'MILK', 'ORANGE', 'APPLE', 'APPLE', 'APPLE', 'VINEGAR',
        'MILK', 'ORANGE', 'VINEGAR', 'VINEGAR', 'LEMON', 'LEMON', 'LEMON',
        'LEMON', 'MILK', 'LEMON', 'SPOILED MILK', 'SPOILED MILK',
        'VINEGAR', 'APPLE', 'SPOILED MILK', 'VINEGAR', 'VINEGAR',
        'VINEGAR', 'SPOILED MILK', 'ORANGE', 'SPOILED MILK',
        'SPOILED MILK', 'MILK', 'SPOILED MILK', 'VINEGAR', 'APPLE',
        'SPOILED MILK', 'VINEGAR', 'VINEGAR', 'LEMON', 'ORANGE',
        'SPOILED MILK', 'VINEGAR', 'MILK', 'ORANGE', 'LEMON', 'NORMAL',
        'MILK', 'SPOILED MILK', 'VINEGAR', 'ORANGE', 'VINEGAR', 'MILK',
        'VINEGAR', 'LEMON', 'ORANGE', 'SPOILED MILK', 'MILK', 'VINEGAR',
        'ORANGE', 'LEMON', 'VINEGAR', 'SPOILED MILK', 'SPOILED MILK',
        'LEMON', 'ORANGE', 'VINEGAR', 'APPLE', 'SPOILED MILK', 'LEMON',
        'LEMON', 'ORANGE', 'MILK', 'APPLE', 'ORANGE', 'SPOILED MILK',
        'VINEGAR', 'VINEGAR', 'NORMAL', 'APPLE', 'APPLE', 'LEMON', 'LEMON',
        'MILK', 'NORMAL', 'SPOILED MILK', 'VINEGAR', 'VINEGAR', 'MILK',
        'APPLE', 'LEMON', 'ORANGE', 'APPLE', 'MILK', 'APPLE', 'MILK',
        'VINEGAR', 'LEMON', 'ORANGE', 'SPOILED MILK', 'VINEGAR', 'MILK',
        'NORMAL', 'APPLE', 'LEMON', 'LEMON', 'SPOILED MILK', 'VINEGAR',
        'APPLE', 'LEMON', 'ORANGE', 'VINEGAR', 'VINEGAR', 'LEMON',
        'ORANGE', 'APPLE', 'SPOILED MILK', 'VINEGAR', 'ORANGE', 'APPLE',
        'APPLE', 'NORMAL', 'APPLE', 'LEMON', 'SPOILED MILK', 'VINEGAR',
        'VINEGAR', 'NORMAL', 'LEMON'], dtype=object),
 337            APPLE
 195           ORANGE
 456            LEMON
 930             MILK
 977             MILK
             ...
 1136    SPOILED MILK
 781          VINEGAR
 666          VINEGAR
 189           ORANGE
 559            LEMON
 Name: Target, Length: 355, dtype: object)

In [171]:

import os
try:
  import serial
except ImportError:
  print ("Trying to Install required module: pyserial\n")
  os.system('pip install pyserial')
  import serial
  
import time
#while True:
with serial.Serial('COM3', 9600, timeout=1) as ser:
    time.sleep(2)  
    ser.write(b'A')
    line = str(ser.readline())
    data = line.split(',')
    MQ2 = data[1]
    MQ3 = data[2]
    MQ9 = data[3]
    MQ135 = data[4]
    print(MQ2 + "," + MQ3 + "," + MQ9 + "," + MQ135)
    z = (MQ2 + " " + MQ3 + " " + MQ9 + " " + MQ135)

156,139,293,206

In [172]:
z1 = z.split(" ")


z_test = pd.DataFrame(columns = ['MQ2','MQ3','MQ9','MQ135'])
z_test.loc[0] = z1
z_test

   MQ2  MQ3  MQ9 MQ135
0  156  139  293   206

In [173]:
z_pred = clf.predict(z_test)

z_pred[0]

'SPOILED MILK'

In [176]:
!pip install gtts
!pip install pyttsx3
import pyttsx3
from gtts import gTTS
import os
mytext = z_pred[0]
language = 'en'
myobj = gTTS(text=mytext, lang=language, slow=False)
myobj.save("result.mp3")
  
# Playing the converted file
os.system("start result.mp3")

Requirement already satisfied: gtts in c:\users\sreya\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: requests in c:\users\sreya\anaconda3\lib\site-packages (from gtts) (2.24.0)
Requirement already satisfied: six in c:\users\sreya\anaconda3\lib\site-packages (from gtts) (1.15.0)
Requirement already satisfied: click in c:\users\sreya\anaconda3\lib\site-packages (from gtts) (7.1.2)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\sreya\anaconda3\lib\site-packages (from requests->gtts) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\sreya\anaconda3\lib\site-packages (from requests->gtts) (1.25.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sreya\anaconda3\lib\site-packages (from requests->gtts) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in c:\users\sreya\anaconda3\lib\site-packages (from requests->gtts) (2.10)
Requirement already satisfied: pyttsx3 in c:\users\sreya\anaconda3\lib\site-packages (2.90)
Requirement already satisfied: pypiwin32; platform_system == "Windows" in c:\users\sreya\anaconda3\lib\site-packages (from pyttsx3) (223)
Requirement already satisfied: pywin32; platform_system == "Windows" in c:\users\sreya\anaconda3\lib\site-packages (from pyttsx3) (227)
Requirement already satisfied: comtypes; platform_system == "Windows" in c:\users\sreya\anaconda3\lib\site-packages (from pyttsx3) (1.1.7)

0